{% extends "layouts/layout.html" %}

{% block CONTENT %}    
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form class="form-signin" role="form" method="post" action="/login">
                    <input type="hidden" name="_csrf" value="{{csrf_token}}">
                
                    <input type="email" class="form-control" placeholder="Correo electrónico" name="email" required autofocus>
                
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}